.botao_cor1 {
  background-color: rgb(245, 19, 19);
  border-radius: 50%;
  font-size: 1.5rem;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
}

.botao_cor2 {
  background-color: #af0df0;
  border-radius: 50%;
  font-size: 1.5rem;
  border: none;
  padding: 10px;
}

.botao_cor3 {
  background-color: #13c0f5;
  border-radius: 50%;
  font-size: 1.5rem;
  border: none;
  padding: 10px;
}